img{
    border: 3px solid #A60311;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #A60311,
    0px 0px 15px #A60311 inset;
}
body{
background-color: #010101;
background-image: url(http://www.transparenttextures.com/patterns/binding-dark.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
h1{
    background-color:#A60311;
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-block;
    font-family: sans-serif ;
    color: #ABC5CF;
    text-shadow:
    0 0 10px #A60311(27, 175, 175),
    0 0 20px #A60311(27, 175, 175),
    0 0 40px #A60311(27, 175, 175);
}
h2{
    background-color:#A60311;
    border-radius: 15px;   
    padding: 10px 20px; 
    display: inline-block;                    
    font-family:sans-serif;
    color: #ABC5CF;
    text-shadow:
    0 0 10px #A60311(27, 175, 175),
    0 0 20px #A60311(27, 175, 175),
    0 0 40px #A60311(27, 175, 175);

}
p{
    font-size: 110%;
    font-family:sans-serif;
    font-weight: 200;
    color: #ABC5CF;
}
li{
    color: #ABC5CF;
    font-family: sans-serif;
}
fieldset {
      
      border: 2px solid #A60311;
      color: #ABC5CF; 
      padding: 20px;
}
.cl-center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cl-legend{
    color: #ABC5CF;
    background-color:#A60311;
    border-radius: 15px;   
    padding: 4px 4px;
}