img{
    border: 3px solid cyan;
    box-shadow: 0px 0px 15px cyan,
    0px 0px 15px cyan inset;
}
body{
    background: linear-gradient(to bottom, #242323, #225e6d);
}
h1{
    background-color:cyan;
    border-radius: 15px;
    font-family: sans-serif ;
    color: rgb(233, 221, 221);
    text-shadow:
    0 0 10px rgb(27, 175, 175),
    0 0 20px rgb(27, 175, 175),
    0 0 40px rgb(27, 175, 175);
}
h2{
    background-color:cyan;
    border-radius: 15px;                        
    font-family:sans-serif;
    color: rgb(233, 221, 221);
    text-shadow:
    0 0 10px rgb(27, 175, 175),
    0 0 20px rgb(27, 175, 175),
    0 0 40px rgb(27, 175, 175);

}
p{
    font-family:sans-serif;
    font-weight: 200;
    color: aliceblue;
}
li{
    color: aliceblue;
    font-family: sans-serif;
}
